.outbound-row {
    border-radius: 5px;
    padding: 10px;
}
.outbound-list {
    background: none;
}
.outbound-list > row {
    border-radius: 10px;
}
.outbound-list > row:selected {
    background-color: alpha(var(--view-fg-color), 0.2);
}
.outbound-row > .schema {
    background-color: alpha(var(--green-1), 0.4);
    border-radius: 3px;
    padding: 2px;
    font-size: 13pt;
}
